/configure.out
*.o
*.a
*.orig
DerivedData/
Release/
Release+Asserts/
Release+Asserts+Checks/
Debug/
Debug+Asserts/
Debug+Asserts+Checks/

.project
.cproject
configure.out

Makefile.config
config.log
config.status
include/klee/Config/config.h
stp/AST/ASTKind.cpp
stp/AST/ASTKind.h
stp/Makefile.common
stp/include/

test/*/Output/
test/*/*/Output/
test/site.exp
test/testrun.log
test/testrun.sum

*.pb.h
*.pb.cc

klee-last
klee-out-*

core
vgcore.*

*.dot
*.pdf
*.png
*.eps

*.bc
*.pyc
*.ll
*~

cloud9.tar.gz
!test/Stdc++/libstdc++.a

xcuserdata
DerivedData/
DerivedData/cloud9_proj/

# NB: slash on the end, so we only remove the FOLDER, not any files that were badly named "build"

build/
.DS_Store
.Trashes
